<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fadfa.adag" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>DO IT</name>
    <description>
        Do It - Do stuff now.
    </description>
    <author email="aetherapps@gmail.com" href="http://phonegap.com">
        Aetherapps Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
